.app {
  height: 100vh;
}

table {
  width: 100%;
  height: 100%;
}
td.header {
  height: 50px;
  margin: 6px;
  padding: 6px;
}
/* td.main {
  
} */
td.footer {
  height: 50px;
  margin: 6px;
  padding: 6px;
}
td.footer button {
  width: 100%;
}
td.main .list {
  height: 100%;
  overflow-y: scroll;
}

.change{
  font-size: 10rem;
}