/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app {
  height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.title{
  text-align: center;
}

.input1{
width: 370px;
height: 35px;
}
.group1{
  display: flex;
  justify-content: space-between;
}
.group2{
  display: flex;
}
/* .clear{
  display: flex;
  width: 25rem;
  height: 2.5rem;
  align-items: end;
  justify-content: center;
  /* justify-selft;f: le */
  /* margin-right: 200px; */


/* } / */
