.app {
  height: 100vh;
}

.layout-table {
  width: 100%;
  height: 100%;
}

.layout-table td.header {
  height: 50px;
  margin: 6px;
  padding: 6px;
}

/* td.main {
  
} */
.layout-table td.footer {
  height: 50px;
  margin: 6px;
  padding: 6px;
}

.layout-table td.footer button {
  width: 100%;
}

/* .layout-table td.main .list {
  height: 100%;
  overflow-y: scroll;
  margin-bottom: 00px;
} */


.change {
  font-size: 10rem;
}
.tabs-container{
  width: 100%;
}

.tabs-container .tab-content {
  overflow-y: scroll;
  height: calc(100vh - 100px - 42px - 42px)
}
/* .tabs-container */